

 <center>
 <%= image_tag "assets/logo_maranatha.png", class: "logo" %>

 <h2 class="jarak">Aplikasi Perwalian</h2> 
 <h2 class="jarak">Teknik Elektro </h2> 
 <p>Please login into your account</p> 
 </center>


<center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
<input type="submit" class="button" value="Login">
  </div>
<% end %>
<%= render "devise/shared/links" %>

</center>

