<%= form_with(model: kela, local: true) do |form| %>
  <% if kela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kela.errors.count, "error") %> prohibited this kela from being saved:</h2>

      <ul>
      <% kela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_kelas %>
    <%= form.text_field :kode_kelas %>
  </div>

  <div class="field">
    <%= form.label :nama_kelas %>
    <%= form.text_field :nama_kelas %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
