<style>
table {
  border: 1px solid black;
}
tr:hover {background-color: #f5f5f5;}
</style>


<p id="notice"><%= notice %></p>

<h1>Kelas</h1>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-9">
     
      </div>
      <div class="col-3 text-right">
        <%= link_to 'Data Baru',  new_kela_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
<div>
.
</div>

<table>
<table class="table table-striped">  
  <thead>
    <tr>
      <th>No</th>
      <th>Kode Kelas</th>
      <th>Nama Kelas</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
          <% @kelas.each_with_index do |kelas, index| %>
            <tr>
              <td><%= (index + 1) %> </td>
              <td><%= kelas.kode_kelas %></td>
              <td><%= kelas.nama_kelas %></td>
              <td><%= link_to 'Show', kelas %></td>
              <td><%= link_to 'Edit', edit_kela_path(kelas) %></td>
              <td><%= link_to 'Destroy', kelas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </td>    
            </tr>
          <% end %>
  </tbody>
</table>

<br>



