<p id="notice"><%= notice %></p>

<p>
  <strong>Kode kelas:</strong>
  <%= @kela.kode_kelas %>
</p>

<p>
  <strong>Nama kelas:</strong>
  <%= @kela.nama_kelas %>
</p>

<%= link_to 'Edit', edit_kela_path(@kela) %> |
<%= link_to 'Back', kelas_path %>
