<%= form_with(model: mata_kuliah, local: true) do |form| %>
  <% if mata_kuliah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mata_kuliah.errors.count, "error") %> prohibited this mata_kuliah from being saved:</h2>

      <ul>
      <% mata_kuliah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_mata_kuliah %>
    <%= form.text_field :kode_mata_kuliah %>
  </div>

  <div class="field">
    <%= form.label :nama_mata_kuliah %>
    <%= form.text_field :nama_mata_kuliah %>
  </div>

  <div class="field">
    <%= form.label :sks %>
    <%= form.number_field :sks %>
  </div>

  <div class="field">
    <%= form.label :prasyarat %>
    <%= form.text_field :prasyarat %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester %>
  </div>

  <div class="field">
    <%= form.label :sifat %>
    <%= form.text_field :sifat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
