<p id="notice"><%= notice %></p>

<h1>Mata Kuliahs</h1>

<table>
  <thead>
    <tr>
      <th>Kode mata kuliah</th>
      <th>Nama mata kuliah</th>
      <th>Sks</th>
      <th>Prasyarat</th>
      <th>Semester</th>
      <th>Sifat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mata_kuliahs.each do |mata_kuliah| %>
      <tr>
        <td><%= mata_kuliah.kode_mata_kuliah %></td>
        <td><%= mata_kuliah.nama_mata_kuliah %></td>
        <td><%= mata_kuliah.sks %></td>
        <td><%= mata_kuliah.prasyarat %></td>
        <td><%= mata_kuliah.semester %></td>
        <td><%= mata_kuliah.sifat %></td>
        <td><%= link_to 'Show', mata_kuliah %></td>
        <td><%= link_to 'Edit', edit_mata_kuliah_path(mata_kuliah) %></td>
        <td><%= link_to 'Destroy', mata_kuliah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mata Kuliah', new_mata_kuliah_path %>
