<p id="notice"><%= notice %></p>

<p>
  <strong>Kode mata kuliah:</strong>
  <%= @mata_kuliah.kode_mata_kuliah %>
</p>

<p>
  <strong>Nama mata kuliah:</strong>
  <%= @mata_kuliah.nama_mata_kuliah %>
</p>

<p>
  <strong>Sks:</strong>
  <%= @mata_kuliah.sks %>
</p>

<p>
  <strong>Prasyarat:</strong>
  <%= @mata_kuliah.prasyarat %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @mata_kuliah.semester %>
</p>

<p>
  <strong>Sifat:</strong>
  <%= @mata_kuliah.sifat %>
</p>

<%= link_to 'Edit', edit_mata_kuliah_path(@mata_kuliah) %> |
<%= link_to 'Back', mata_kuliahs_path %>
