<%= form_with(model: program_studi, local: true) do |form| %>
  <% if program_studi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_studi.errors.count, "error") %> prohibited this program_studi from being saved:</h2>

      <ul>
      <% program_studi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_ps %>
    <%= form.text_field :kode_ps %>
  </div>

  <div class="field">
    <%= form.label :nama_program_studi %>
    <%= form.text_field :nama_program_studi %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
