<p id="notice"><%= notice %></p>

<h1>Program Studis</h1>

<table>
  <thead>
    <tr>
      <th>Kode ps</th>
      <th>Nama program studi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_studis.each do |program_studi| %>
      <tr>
        <td><%= program_studi.kode_ps %></td>
        <td><%= program_studi.nama_program_studi %></td>
        <td><%= link_to 'Show', program_studi %></td>
        <td><%= link_to 'Edit', edit_program_studi_path(program_studi) %></td>
        <td><%= link_to 'Destroy', program_studi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program Studi', new_program_studi_path %>
