<p id="notice"><%= notice %></p>

<p>
  <strong>Kode ps:</strong>
  <%= @program_studi.kode_ps %>
</p>

<p>
  <strong>Nama program studi:</strong>
  <%= @program_studi.nama_program_studi %>
</p>

<%= link_to 'Edit', edit_program_studi_path(@program_studi) %> |
<%= link_to 'Back', program_studis_path %>
