<%= form_with(model: proyek_pendidikan, local: true) do |form| %>
  <% if proyek_pendidikan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyek_pendidikan.errors.count, "error") %> prohibited this proyek_pendidikan from being saved:</h2>

      <ul>
      <% proyek_pendidikan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_pp %>
    <%= form.text_field :kode_pp %>
  </div>

  <div class="field">
    <%= form.label :proyek_pendidikan %>
    <%= form.text_field :proyek_pendidikan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
