<p id="notice"><%= notice %></p>

<h1>Proyek Pendidikans</h1>

<table>
  <thead>
    <tr>
      <th>Kode pp</th>
      <th>Proyek pendidikan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyek_pendidikans.each do |proyek_pendidikan| %>
      <tr>
        <td><%= proyek_pendidikan.kode_pp %></td>
        <td><%= proyek_pendidikan.proyek_pendidikan %></td>
        <td><%= link_to 'Show', proyek_pendidikan %></td>
        <td><%= link_to 'Edit', edit_proyek_pendidikan_path(proyek_pendidikan) %></td>
        <td><%= link_to 'Destroy', proyek_pendidikan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyek Pendidikan', new_proyek_pendidikan_path %>
