<p id="notice"><%= notice %></p>

<p>
  <strong>Kode pp:</strong>
  <%= @proyek_pendidikan.kode_pp %>
</p>

<p>
  <strong>Proyek pendidikan:</strong>
  <%= @proyek_pendidikan.proyek_pendidikan %>
</p>

<%= link_to 'Edit', edit_proyek_pendidikan_path(@proyek_pendidikan) %> |
<%= link_to 'Back', proyek_pendidikans_path %>
