<%= form_with(model: dosen, local: true) do |form| %>
  <% if dosen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dosen.errors.count, "error") %> prohibited this dosen from being saved:</h2>

      <ul>
      <% dosen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nik %>
    <%= form.text_field :nik %>
  </div>

  <div class="field">
    <%= form.label :nama_dosen %>
    <%= form.text_field :nama_dosen %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
