<style>
table {
  border: 1px solid black;
}
tr:hover {background-color: #f5f5f5;}
</style>


<p id="notice"><%= notice %></p>

<h1>Dosen</h1>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-9">
     
      </div>
      <div class="col-3 text-right">
        <%= link_to 'Data Baru',  new_dosen_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
<div>
.
</div>

<table>
<table class="table table-striped">  
  <thead>
    <tr>
      <th>No</th>
      <th>Nik</th>
      <th>Nama dosen</th>
      <th>Email</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
          <% @dosens.each_with_index do |dosen, index| %>
            <tr>
              <td><%= (index + 1) %> </td>
              <td><%= dosen.nik %></td>
              <td><%= dosen.nama_dosen %></td>
              <td><%= dosen.email %></td>
              <td><%= link_to 'Show', dosen %></td>
              <td><%= link_to 'Edit', edit_dosen_path(dosen) %></td>
              <td><%= link_to 'Destroy', dosen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </td>    
            </tr>
          <% end %>
  </tbody>
</table>

<br>
