<p id="notice"><%= notice %></p>

<p>
  <strong>Nik:</strong>
  <%= @dosen.nik %>
</p>

<p>
  <strong>Nama dosen:</strong>
  <%= @dosen.nama_dosen %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dosen.email %>
</p>

<%= link_to 'Edit', edit_dosen_path(@dosen) %> |
<%= link_to 'Back', dosens_path %>
