<%= form_with(model: mahasiswa, local: true) do |form| %>
  <% if mahasiswa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mahasiswa.errors.count, "error") %> prohibited this mahasiswa from being saved:</h2>

      <ul>
      <% mahasiswa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nrp %>
    <%= form.text_field :nrp %>
  </div>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :tanggal_lahir %>
    <%= form.date_select :tanggal_lahir %>
  </div>

  <div class="field">
    <%= form.label :tempat_lahir %>
    <%= form.text_field :tempat_lahir %>
  </div>

  <div class="field">
    <%= form.label :jenis_kelamin %>
    <%= form.text_field :jenis_kelamin %>
  </div>

  <div class="field">
    <%= form.label :agama %>
    <%= form.text_field :agama %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :no_hp %>
    <%= form.text_field :no_hp %>
  </div>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat %>
  </div>

  <div class="field">
    <%= form.label :provinsi %>
    <%= form.text_field :provinsi %>
  </div>

  <div class="field">
    <%= form.label :kota_kab %>
    <%= form.text_field :kota_kab %>
  </div>

  <div class="field">
    <%= form.label :kode_pos %>
    <%= form.text_field :kode_pos %>
  </div>

  <div class="field">
    <%= form.label :kecamatan %>
    <%= form.text_field :kecamatan %>
  </div>

  <div class="field">
    <%= form.label :desa_kelurahan %>
    <%= form.text_field :desa_kelurahan %>
  </div>

  <div class="field">
    <%= form.label :no_ijazah %>
    <%= form.text_field :no_ijazah %>
  </div>

  <div class="field">
    <%= form.label :tanggal_ijazah %>
    <%= form.date_select :tanggal_ijazah %>
  </div>

  <div class="field">
    <%= form.label :nem %>
    <%= form.number_field :nem %>
  </div>

  <div class="field">
    <%= form.label :warga_negara %>
    <%= form.text_field :warga_negara %>
  </div>

  <div class="field">
    <%= form.label :gol_darah %>
    <%= form.text_field :gol_darah %>
  </div>

  <div class="field">
    <%= form.label :rhesus %>
    <%= form.text_field :rhesus %>
  </div>

  <div class="field">
    <%= form.label :jalur_masuk %>
    <%= form.text_field :jalur_masuk %>
  </div>

  <div class="field">
    <%= form.label :status_mahasiswa %>
    <%= form.text_field :status_mahasiswa %>
  </div>

  <div class="field">
    <%= form.label :nilai_toefl %>
    <%= form.number_field :nilai_toefl %>
  </div>

  <div class="field">
    <%= form.label :nama_lengkap_ayah %>
    <%= form.text_field :nama_lengkap_ayah %>
  </div>

  <div class="field">
    <%= form.label :tanggal_lahir_ayah %>
    <%= form.date_select :tanggal_lahir_ayah %>
  </div>

  <div class="field">
    <%= form.label :tempat_lahir_ayah %>
    <%= form.text_field :tempat_lahir_ayah %>
  </div>

  <div class="field">
    <%= form.label :pekerjaan %>
    <%= form.text_field :pekerjaan %>
  </div>

  <div class="field">
    <%= form.label :alamat_pekerjaan %>
    <%= form.text_field :alamat_pekerjaan %>
  </div>

  <div class="field">
    <%= form.label :pendidikan_terakhir %>
    <%= form.text_field :pendidikan_terakhir %>
  </div>

  <div class="field">
    <%= form.label :no_hp %>
    <%= form.text_field :no_hp %>
  </div>

  <div class="field">
    <%= form.label :email_ayah %>
    <%= form.text_field :email_ayah %>
  </div>

  <div class="field">
    <%= form.label :nama_lengkap_ibu %>
    <%= form.text_field :nama_lengkap_ibu %>
  </div>

  <div class="field">
    <%= form.label :tanggal_lahir_ibu %>
    <%= form.date_select :tanggal_lahir_ibu %>
  </div>

  <div class="field">
    <%= form.label :tempat_lahir_ibu %>
    <%= form.text_field :tempat_lahir_ibu %>
  </div>

  <div class="field">
    <%= form.label :pekerjaan_ibu %>
    <%= form.text_field :pekerjaan_ibu %>
  </div>

  <div class="field">
    <%= form.label :alamat_pekerjaan_ibu %>
    <%= form.text_field :alamat_pekerjaan_ibu %>
  </div>

  <div class="field">
    <%= form.label :pendidikan_terakhir_ibu %>
    <%= form.text_field :pendidikan_terakhir_ibu %>
  </div>

  <div class="field">
    <%= form.label :no_hp_ibu %>
    <%= form.text_field :no_hp_ibu %>
  </div>

  <div class="field">
    <%= form.label :email_ibu %>
    <%= form.text_field :email_ibu %>
  </div>

  <div class="field">
    <%= form.label :alamat_ortu %>
    <%= form.text_field :alamat_ortu %>
  </div>

  <div class="field">
    <%= form.label :provinsi_ortu %>
    <%= form.text_field :provinsi_ortu %>
  </div>

  <div class="field">
    <%= form.label :kota_kab_ortu %>
    <%= form.text_field :kota_kab_ortu %>
  </div>

  <div class="field">
    <%= form.label :kode_pos_ortu %>
    <%= form.text_field :kode_pos_ortu %>
  </div>

  <div class="field">
    <%= form.label :kecamatan_ortu %>
    <%= form.text_field :kecamatan_ortu %>
  </div>

  <div class="field">
    <%= form.label :desa_kelurahan_ortu %>
    <%= form.text_field :desa_kelurahan_ortu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
