<p id="notice"><%= notice %></p>

<h1>Mahasiswas</h1>

<table>
  <thead>
    <tr>
      <th>Nrp</th>
      <th>Nama</th>
      <th>Tanggal lahir</th>
      <th>Tempat lahir</th>
      <th>Jenis kelamin</th>
      <th>Agama</th>
      <th>Email</th>
      <th>No hp</th>
      <th>Alamat</th>
      <th>Provinsi</th>
      <th>Kota kab</th>
      <th>Kode pos</th>
      <th>Kecamatan</th>
      <th>Desa kelurahan</th>
      <th>No ijazah</th>
      <th>Tanggal ijazah</th>
      <th>Nem</th>
      <th>Warga negara</th>
      <th>Gol darah</th>
      <th>Rhesus</th>
      <th>Jalur masuk</th>
      <th>Status mahasiswa</th>
      <th>Nilai toefl</th>
      <th>Nama lengkap ayah</th>
      <th>Tanggal lahir ayah</th>
      <th>Tempat lahir ayah</th>
      <th>Pekerjaan</th>
      <th>Alamat pekerjaan</th>
      <th>Pendidikan terakhir</th>
      <th>No hp</th>
      <th>Email ayah</th>
      <th>Nama lengkap ibu</th>
      <th>Tanggal lahir ibu</th>
      <th>Tempat lahir ibu</th>
      <th>Pekerjaan ibu</th>
      <th>Alamat pekerjaan ibu</th>
      <th>Pendidikan terakhir ibu</th>
      <th>No hp ibu</th>
      <th>Email ibu</th>
      <th>Alamat ortu</th>
      <th>Provinsi ortu</th>
      <th>Kota kab ortu</th>
      <th>Kode pos ortu</th>
      <th>Kecamatan ortu</th>
      <th>Desa kelurahan ortu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mahasiswas.each do |mahasiswa| %>
      <tr>
        <td><%= mahasiswa.nrp %></td>
        <td><%= mahasiswa.nama %></td>
        <td><%= mahasiswa.tanggal_lahir %></td>
        <td><%= mahasiswa.tempat_lahir %></td>
        <td><%= mahasiswa.jenis_kelamin %></td>
        <td><%= mahasiswa.agama %></td>
        <td><%= mahasiswa.email %></td>
        <td><%= mahasiswa.no_hp %></td>
        <td><%= mahasiswa.alamat %></td>
        <td><%= mahasiswa.provinsi %></td>
        <td><%= mahasiswa.kota_kab %></td>
        <td><%= mahasiswa.kode_pos %></td>
        <td><%= mahasiswa.kecamatan %></td>
        <td><%= mahasiswa.desa_kelurahan %></td>
        <td><%= mahasiswa.no_ijazah %></td>
        <td><%= mahasiswa.tanggal_ijazah %></td>
        <td><%= mahasiswa.nem %></td>
        <td><%= mahasiswa.warga_negara %></td>
        <td><%= mahasiswa.gol_darah %></td>
        <td><%= mahasiswa.rhesus %></td>
        <td><%= mahasiswa.jalur_masuk %></td>
        <td><%= mahasiswa.status_mahasiswa %></td>
        <td><%= mahasiswa.nilai_toefl %></td>
        <td><%= mahasiswa.nama_lengkap_ayah %></td>
        <td><%= mahasiswa.tanggal_lahir_ayah %></td>
        <td><%= mahasiswa.tempat_lahir_ayah %></td>
        <td><%= mahasiswa.pekerjaan %></td>
        <td><%= mahasiswa.alamat_pekerjaan %></td>
        <td><%= mahasiswa.pendidikan_terakhir %></td>
        <td><%= mahasiswa.no_hp %></td>
        <td><%= mahasiswa.email_ayah %></td>
        <td><%= mahasiswa.nama_lengkap_ibu %></td>
        <td><%= mahasiswa.tanggal_lahir_ibu %></td>
        <td><%= mahasiswa.tempat_lahir_ibu %></td>
        <td><%= mahasiswa.pekerjaan_ibu %></td>
        <td><%= mahasiswa.alamat_pekerjaan_ibu %></td>
        <td><%= mahasiswa.pendidikan_terakhir_ibu %></td>
        <td><%= mahasiswa.no_hp_ibu %></td>
        <td><%= mahasiswa.email_ibu %></td>
        <td><%= mahasiswa.alamat_ortu %></td>
        <td><%= mahasiswa.provinsi_ortu %></td>
        <td><%= mahasiswa.kota_kab_ortu %></td>
        <td><%= mahasiswa.kode_pos_ortu %></td>
        <td><%= mahasiswa.kecamatan_ortu %></td>
        <td><%= mahasiswa.desa_kelurahan_ortu %></td>
        <td><%= link_to 'Show', mahasiswa %></td>
        <td><%= link_to 'Edit', edit_mahasiswa_path(mahasiswa) %></td>
        <td><%= link_to 'Destroy', mahasiswa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mahasiswa', new_mahasiswa_path %>
