<p id="notice"><%= notice %></p>

<p>
  <strong>Nrp:</strong>
  <%= @mahasiswa.nrp %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @mahasiswa.nama %>
</p>

<p>
  <strong>Tanggal lahir:</strong>
  <%= @mahasiswa.tanggal_lahir %>
</p>

<p>
  <strong>Tempat lahir:</strong>
  <%= @mahasiswa.tempat_lahir %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
  <%= @mahasiswa.jenis_kelamin %>
</p>

<p>
  <strong>Agama:</strong>
  <%= @mahasiswa.agama %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mahasiswa.email %>
</p>

<p>
  <strong>No hp:</strong>
  <%= @mahasiswa.no_hp %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @mahasiswa.alamat %>
</p>

<p>
  <strong>Provinsi:</strong>
  <%= @mahasiswa.provinsi %>
</p>

<p>
  <strong>Kota kab:</strong>
  <%= @mahasiswa.kota_kab %>
</p>

<p>
  <strong>Kode pos:</strong>
  <%= @mahasiswa.kode_pos %>
</p>

<p>
  <strong>Kecamatan:</strong>
  <%= @mahasiswa.kecamatan %>
</p>

<p>
  <strong>Desa kelurahan:</strong>
  <%= @mahasiswa.desa_kelurahan %>
</p>

<p>
  <strong>No ijazah:</strong>
  <%= @mahasiswa.no_ijazah %>
</p>

<p>
  <strong>Tanggal ijazah:</strong>
  <%= @mahasiswa.tanggal_ijazah %>
</p>

<p>
  <strong>Nem:</strong>
  <%= @mahasiswa.nem %>
</p>

<p>
  <strong>Warga negara:</strong>
  <%= @mahasiswa.warga_negara %>
</p>

<p>
  <strong>Gol darah:</strong>
  <%= @mahasiswa.gol_darah %>
</p>

<p>
  <strong>Rhesus:</strong>
  <%= @mahasiswa.rhesus %>
</p>

<p>
  <strong>Jalur masuk:</strong>
  <%= @mahasiswa.jalur_masuk %>
</p>

<p>
  <strong>Status mahasiswa:</strong>
  <%= @mahasiswa.status_mahasiswa %>
</p>

<p>
  <strong>Nilai toefl:</strong>
  <%= @mahasiswa.nilai_toefl %>
</p>

<p>
  <strong>Nama lengkap ayah:</strong>
  <%= @mahasiswa.nama_lengkap_ayah %>
</p>

<p>
  <strong>Tanggal lahir ayah:</strong>
  <%= @mahasiswa.tanggal_lahir_ayah %>
</p>

<p>
  <strong>Tempat lahir ayah:</strong>
  <%= @mahasiswa.tempat_lahir_ayah %>
</p>

<p>
  <strong>Pekerjaan:</strong>
  <%= @mahasiswa.pekerjaan %>
</p>

<p>
  <strong>Alamat pekerjaan:</strong>
  <%= @mahasiswa.alamat_pekerjaan %>
</p>

<p>
  <strong>Pendidikan terakhir:</strong>
  <%= @mahasiswa.pendidikan_terakhir %>
</p>

<p>
  <strong>No hp:</strong>
  <%= @mahasiswa.no_hp %>
</p>

<p>
  <strong>Email ayah:</strong>
  <%= @mahasiswa.email_ayah %>
</p>

<p>
  <strong>Nama lengkap ibu:</strong>
  <%= @mahasiswa.nama_lengkap_ibu %>
</p>

<p>
  <strong>Tanggal lahir ibu:</strong>
  <%= @mahasiswa.tanggal_lahir_ibu %>
</p>

<p>
  <strong>Tempat lahir ibu:</strong>
  <%= @mahasiswa.tempat_lahir_ibu %>
</p>

<p>
  <strong>Pekerjaan ibu:</strong>
  <%= @mahasiswa.pekerjaan_ibu %>
</p>

<p>
  <strong>Alamat pekerjaan ibu:</strong>
  <%= @mahasiswa.alamat_pekerjaan_ibu %>
</p>

<p>
  <strong>Pendidikan terakhir ibu:</strong>
  <%= @mahasiswa.pendidikan_terakhir_ibu %>
</p>

<p>
  <strong>No hp ibu:</strong>
  <%= @mahasiswa.no_hp_ibu %>
</p>

<p>
  <strong>Email ibu:</strong>
  <%= @mahasiswa.email_ibu %>
</p>

<p>
  <strong>Alamat ortu:</strong>
  <%= @mahasiswa.alamat_ortu %>
</p>

<p>
  <strong>Provinsi ortu:</strong>
  <%= @mahasiswa.provinsi_ortu %>
</p>

<p>
  <strong>Kota kab ortu:</strong>
  <%= @mahasiswa.kota_kab_ortu %>
</p>

<p>
  <strong>Kode pos ortu:</strong>
  <%= @mahasiswa.kode_pos_ortu %>
</p>

<p>
  <strong>Kecamatan ortu:</strong>
  <%= @mahasiswa.kecamatan_ortu %>
</p>

<p>
  <strong>Desa kelurahan ortu:</strong>
  <%= @mahasiswa.desa_kelurahan_ortu %>
</p>

<%= link_to 'Edit', edit_mahasiswa_path(@mahasiswa) %> |
<%= link_to 'Back', mahasiswas_path %>
