* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: #007aff;

	h1 {
		margin-left: 2rem;
		display: inline;
	}
	p {
		display: inline;
		padding-left: 2rem;
	}
	#btn {
		padding-top: 0.5rem;
	}
	a.button {
		font-size: 1rem;
		text-transform: uppercase;
		padding: 1rem 3rem;
		background-color: #007aff;
		color: #fff;
		text-decoration: none;
		border-radius: 2rem;
	}
}

aside {
	float: left;
	padding: 1rem 2rem;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 3px;
	height: 100vh;
	ul {
		list-style: none;
		li {
			margin: 2rem 0;
			width: 10rem;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			&:hover {
				background-color: #007aff;
				color: #fff;
			}
			a {
				text-decoration: none;
				color: #000;
				border-radius: 3rem;
				&:hover {
					color: #fff;
					background-color: #007aff;
				}
			}
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding: 1rem 3rem;
}
