<!DOCTYPE html>
<html lang="en">
	<head>
  <title>Perwalian</title> 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
    <%= csrf_meta_tags %> 
    
	</head>
	<body>
		<nav>
			<div id="user">
				<h1>User Img</h1>
				<p>Ezra Ravin Mateus</p>
			</div>
		
		</nav>

		<aside>
			<ul>
				<li>
          <i class="" style="font-size:17px;;color:#ffffff;"> <%= link_to "Dosen", dosens_path, class:"nav-link" %></i>
				</li>
			
			</ul>
		</aside>

		<section>
			<%= yield %>
		</section>
	</body>
</html>
