<!DOCTYPE html>
<html>
  <head>
    <title>Perwalian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id=login-page>
    <div class="container-fluid h-100">
      <div class="min-vh-100 d-flex flex-column align-items-center justify-content-cent">
        <div class="col col-12 col-lg-4 col-md-6 m-auto">
        
          <div class="card">
            <div class="card-body">
              <%= yield %>
            </div>
            <div class="card-footer text-center">
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
